@{
    ViewData["Title"] = "Home Page";
    
}
<div class="container" style="width: 10000px;height: 800px; background-color:#E0FFFF;">
    <div class="text-center"  background-color:antiquewhite">
        <h1 class="display-4">
            Welcome to our Store Home <b><em>
    @if (User.Identity.IsAuthenticated)
    {@User.Identity.Name}
        </em></b>
        </h1>
    </div>
</div>
