@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var returnUrl = ViewData["ReturnUrl"] as string;
    var error = TempData["Error"] as string;
}
<h1>Login</h1>
@if (!string.IsNullOrEmpty(error))
            {
                <h2 class="alert-danger" style="padding:20px;"> @error</h2>
            }
<form action="/login?ReturnUrl=@System.Net.WebUtility.UrlEncode(returnUrl)" method="post">
    <div class="row">
        <div class="col">
            <input type="email" name ="email"class="form-control" placeholder="email">
        </div>
        <div class="col">
            <input type="password" name="password" class="form-control" placeholder="Password">
        </div>
    </div>
    <div>
        <input type="submit" value="login"/>
    </div>
</form>