<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SAWebUI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <!-- JavaScript Bundle with Popper -->
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">   
</head>
<body>
    <header >
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light " >
            <!-- Container wrapper -->
            <div class="container-fluid" style="background-color:gainsboro">
                <!-- Toggle button -->
                <button class="navbar-toggler"
                        type="button"
                        data-mdb-toggle="collapse"
                        data-mdb-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                        value="fiidfi">
                    <i class="fas fa-bars">hmmvmb</i>
                </button>
                <!-- Collapsible wrapper -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- Navbar brand -->
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="~/images/cooltext389419757294057.png" height="30"
                             alt=""
                             loading="lazy" />
                    </a>
                    <!-- Left links -->
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            @if (User.IsInRole("Admin"))
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" asp-area="" asp-controller="Management" asp-action="">
                                        Management
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                                        <li><a class="dropdown-item" asp-area="" asp-controller="Management" asp-action="CustomerManagement">Customer Management</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="Management" asp-action="StoreManagement">Store Manegement</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="Management" asp-action="ProductManagement">Inventory Management</a></li>
                                    </ul>
                                </li>
                             }
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="OurStore" asp-action="Shopping">Shopping</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="OurStore" asp-action="MyOrders">My Orders</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark btn-outline-success" asp-area="" asp-controller="Home" asp-action="Login">Login</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark btn-outline-success" asp-area="" asp-controller="Home" asp-action="Register">Register</a>
                                </li>
                            }
                        </ul>
                    <!-- Left links -->
                </div>
                <!-- Collapsible wrapper -->
                <!-- Right elements -->
                <div class="d-flex align-items-lg-start mx-xl-5 w-auto">
                    <!-- Icon -->
                    <a class="text-reset me-3 " href="#">
                        <i class="fas fa-shopping-cart fa-2x"></i>
                    </a>
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle"
                                type="button"
                                id="dropdownMenuButton1"
                                data-bs-toggle="dropdown"
                                aria-expanded="false">
                            <i class="fas fa-user-circle fa-1x"></i>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li>
                                    <a class="dropdown-item" asp-controller="Home" asp-action="MyProfile">Profile</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-controller="Home" asp-action="Logout">Logout</a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a class="nav-link text-dark btn-outline-success" asp-area="" asp-controller="Home" asp-action="Login">Login</a>
                                </li>

                                <li>
                                    <a class="nav-link text-dark btn-outline-success" asp-area="" asp-controller="Home" asp-action="Register">Register</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
                <!-- Right elements -->
            </div>
            <!-- Container wrapper -->
        </nav>
        <!-- Navbar -->
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - SAWebUI - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
