@model SAWebUI.Models.CustomerVM;
<div class="text-center">
    <h1 class="display-4">Create Customer page</h1>

    <form class="row g-3" asp-action="Create">
        <div class="col-md-3">
            <label asp-for="Name" class="form-label">Name</label>
            <input asp-for="Name" type="text" class="form-control">
            <span asp-validation-for="Name" class="test-danger"></span>
        </div>
        <div class="col-md-3">
            <label asp-for="Phone" class="form-label">Phone</label>
            <input asp-for="Phone" type="text" class="form-control">
            <span asp-validation-for="Phone" class="test-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="Email" class="form-label">Email</label>
            <input asp-for="Email" type="text" class="form-control">
            <span asp-validation-for="Email" class="test-danger"></span>
        </div>
        <div class="col-12">
            <label asp-for="Address" class="form-label">Address</label>
            <input asp-for="Address" type="text" class="form-control">
            <span asp-validation-for="Address" class="test-danger"></span>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Sign in</button>
        </div>
    </form>
    <a asp-action="index" class="btn btn-danger">Back</a>
</div>